.changa-font {
  font-family: "Changa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

@media (max-width: 576px) {
	#offcanvasNavbar {
		width: 100%;
		border: 0;
	}
}
